@external removeButton, date, payee, tag, amount;

.cellListWidget {
}

.cellListEvenItem {
    padding: 8px;
    background-color: #fff;
    height: 45px;
}

.cellListOddItem {
    padding: 8px;
    background-color: #eee;
    height: 45px;
}

.cellListOddItem .removeButton {
    display: none;
}

.cellListEvenItem .removeButton {
    display: none;
}

.cellListSelectedItem {
    background: none;
    background-color: #555;
    height: 45px;
}

@sprite .cellListSelectedItem .removeButton {
    display: block;
    float: left;
    gwt-image: "removeSmall";
    padding: 8px;
    background-color: #910000;
    background-position: center;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 8px;
    margin-left: 3px;
}

.cellListOddItem .date, .cellListEvenItem .date {
    width: 60px;
    text-align: center;
    color: #666;
    font-size: 14px;
    padding-top: 6px;
    margin-right: 10px;
}

.cellListSelectedItem .date {
    width: 60px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    padding-top: 7px;
    margin-right: 10px;
}

.cellListOddItem .payee, .cellListEvenItem .payee {
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
}

.cellListSelectedItem .payee {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 5px;
}

.cellListOddItem .tag, .cellListEvenItem .tag {
    background-color: #57A02F;
    background: literal("-moz-linear-gradient(top,  #77BB4E,  #57A02F)") repeat scroll 0 0 transparent;
    background: literal("-webkit-gradient(linear, left top, left bottom, from(#77BB4E), to(#57A02F))");
    border: 1px solid #3F980E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

.cellListOddItem .tag span, .cellListEvenItem .tag span {
    border-top: 1px solid #9BCE7C;
    display: inline-block;
    padding: 2px 5px 3px 5px;
    color: #FFF;
}

.cellListSelectedItem .tag {
    background: none;
    background-color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #FFF;
}

.cellListSelectedItem .tag span {
    background: none;
    display: inline-block;
    padding: 2px 5px 3px 5px;
    color: #444;
    border-top: 1px solid #FFF;
}

.cellListOddItem .amount, .cellListEvenItem .amount {
    font-weight: bold;
    font-size: 15px;
    padding-top: 14px;
    margin-right: 5px;
    color: #444;
}

.cellListSelectedItem .amount {
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    padding-top: 14px;
    margin-right: 5px;
}



